<div class="top-bar BaseMapNavBar">
    <div 
        class="menu-item horizontal" v-for="(item, idx) in menu" :key="idx" :style="{'background-color': item.show?'#ccc':'transparent'}"
        v-on:mouseenter="execMenuItem(item, true)">
        <span>{{item.label}}</span>
        <div class="menu-container active" v-show="item.show" v-on:mouseleave="item.show=false;">
            <div class="menu-item vertical menu-leaf" v-for="(item1, idx1) in item.children" :key="idx1" v-on:click="$event.stopPropagation();execMenuItem(item1)">
                <span>{{item1.label}}</span>
            </div>
        </div>
    </div>
</div>