@handleSize: 5px;

.resize-container {
    display: flex;

    .resize-item {
        flex: 0 0 auto;
        position: relative;


        .resize-handle {
            background-color: #eee;
            position: absolute;
            z-index: 1;
        }

        .resize-handle-vertical {
            width: 100%;
            height: @handleSize;
            bottom: 0px;
            margin-top: - @handleSize / 2;
            cursor: row-resize;
        }

        // .resize-handle-vertical:hover {
        //     height: 10px;
        //     margin-top: -5px;
        // }

        .resize-handle-horizontal {
            width: @handleSize;
            height: 100%;
            right: 0px;
            margin-right:  -@handleSize / 2;
            cursor: col-resize;
        }

        // .resize-handle-horizontal:hover {
        //     width: 10px;
        //     margin-right: -5px;
        // }

        .resize-handle-disable {
            display: none;
        }
    }

    & > .resize-item:last-of-type {
        flex-grow: 1;
        & > .resize-handle {
            display: none;
        }
    }
}

.resize-horizontal {
    flex-direction: row;
}

.resize-vertical {
    flex-direction: column;
}