/* ================ GLOBAL STYLES ================ */
body {
    margin: unset;
}

.top-bar {
    display: block;
    overflow-x: hidden;
    overflow-y: wrap;
    max-height: 20px;
    background-color: green;
}