/* ================ GLOBAL STYLES ================ */
.top-bar {
    display: block;
    overflow-x: hidden;
    overflow-y: wrap;
    max-height: 20px;
    background-color: green;
}

.main-content {
    display: flex;
    flex-direction: row;

    .left-side {
        
    }
    .right-side {

    }
}