<div class="map-view" @contextmenu="openContextMenu">
    <canvas ref="drawCanvas" style="border: 1px dashed black; background-color: steelblue;" :width="drawWidth" :height="drawHeight"></canvas>
    <div>
        <input type="range" min="-180" max="180" step="1" v-model="centerLng">
        Long: {{centerLng}}
    </div>
    <div>
        <input type="range" min="-90" max="90" step="1" v-model="centerLat">
        Lat: {{centerLat}}
    </div>
    <div>
        <input type="range" min="0" max="5000" step="1" v-model="scale">
        Scale: {{scale}}
    </div>
    <div>{{propView}}</div>
</div>
